@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    background-color: #141414;
}

a {
    text-decoration: none;
}

section,
header,
footer {
    font-family: var(--main-font);
}

section,
h1 {
    color: #fff;
}

section p {
    color: #999999;
}


:root {
    --main-font: 'manrope';
}

/* navbar css */
.navbar-expand-lg .navbar-nav {
    background-color: #0F0F0F;
    padding: 10px 15px 10px 10px;
    border: 3px solid #1A1A1A;
    border-radius: 6px;
}

.navbar-nav .nav-link.active {
    background-color: #1A1A1A;
    border-radius: 5px;
}

.navbar-search-notifications img {
    cursor: pointer;
}

/* start media navbar */
@media screen and (max-width: 991px) {
    .navbar-search-notifications img {
        display: none;
    }

    .navbar-nav .nav-link.active {
        background-color: transparent;
    }
}

/* end media navbar */

/* movies_interface css */
.movies-interface {
    padding: 50px 0px;
}

.movies-interface .carousel-item img {
    border-radius: 12px;
}

.movies-interface .slider-background {
    background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);
    width: 100%;
    height: 100%;
}

.movies-interface .play-now-btn {
    background-color: #E50000;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.movies-interface .play-now-btn a {
    color: #fff;
}

.movies-interface .item img {
    background-color: #0F0F0F;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 20px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #E50000;
}

/* start media movies_interface */
@media screen and (max-width: 767px) {
    .carousel-caption p {
        display: none;
    }

    .movies-interface .play-now-btn {
        padding: 10px 10px;
        font-size: 12px;
    }

    .movies-interface .item img {
        padding: 10px;
    }
}

@media screen and (max-width: 370px) {
    .carousel-inner h1 {
        font-size: 1rem !important;
    }

    .movies-interface .play-now-btn {
        font-size: 9px;
    }

    .movies-interface .item {
        display: none !important;
    }
}

/* end media movies_interface */

/* modal css */
.modal {
    color: #fff;
    font-family: var(--main-font);
}

.modal-content {
    background-color: #1A1A1A;
}

.modal-header {
    border-bottom: 0px solid transparent;
}

.modal .btn-close {
    background-color: #E50000;
    opacity: 1;
}

.movie-images img,
.show-images img {
    width: 104px;
    height: 108px;
}

.modal .stars {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    padding: 4px 5px;
}

.modal p {
    font-size: 15px;
}

.modal a {
    color: #fff;
    background-color: #E50000;
    padding: 5px 5px;
    border-radius: 5px;
    width: fit-content;
}

.modal .modal-body {
    border-top: 1px solid #E50000;
}

.modal .modal-footer {
    border-top: 1px solid #E50000;
}

.modal .modal-footer button {
    background-color: #E50000;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

/* movies css */
.movies {
    padding: 50px 0px;
}

.movies .movies-title {
    top: 35px;
    background-color: #E50000;
    padding: 5px 10px;
    border-radius: 5px;
}

.movies .movies-border {
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 35px;
}

.movies-categories-pagination {
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
    border-radius: 7px;
    width: fit-content;
}

.movies-categories-pagination ul i {
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.movie-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.movie-category .card {
    width: calc((100% - 40px) / 5);
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.movie-category .card-top,
.movie-category .card-must {
    width: calc((100% - 40px) / 4);
}

.movie-category .card-releases {
    width: calc((100% - 40px) / 5);
}

.movie-category .card img {
    border-radius: 10px;
}

.images-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.032) 0%, #1414148d 100%);
    left: 0;
    border-radius: 10px;
}

.movies .card-body {
    color: #fff;
    cursor: pointer;
}

.card-body-title span:first-child {
    font-size: 10px;
    background-color: #E50000;
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
}

.card-body .duration-movie,
.card-body .view-number,
.card-body .duration-releases,
.card-body .view-stars {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    padding: 2px 5px;
    color: #999999;
    font-size: 12px;
}

.card-body .duration-releases {
    padding: 7px 10px;
}

.star-active {
    color: #E50000;
}

.star-non-active {
    color: #999999;
}

.star-half-active {
    background: linear-gradient(to right, #E50000 50%, #999999 50%);
    background-clip: text;
    color: transparent;
}

/* start media movies */

@media screen and (max-width: 1199px) {

    .movie-category .card-trend,
    .movie-category .card-releases {
        width: calc((100% - 30px) / 4);
    }

    .movie-category .card-trend:nth-child(5),
    .movie-category .card-releases:nth-child(5) {
        display: none;
    }

    .movie-category .card-must {
        width: calc((100% - 20px) / 3);
    }

    .movie-category .card-must:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width: 991px) {
    #horror {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 30px) / 4);
    }

    .movie-category .card-trend,
    .movie-category .card-releases {
        width: calc((100% - 20px) / 3);
    }

    .movie-category .card-trend:nth-child(4),
    .movie-category .card-releases:nth-child(4) {
        display: none;
    }

    .movie-category .card-must {
        width: calc((100% - 10px) / 2);
    }

    .movie-category .card-must:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #drama {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 20px) / 3);
    }

    .movie-category .card-top,
    .movie-category .card-must {
        width: calc((100% - 20px) / 3);
    }

    .movie-category .card-trend,
    .movie-category .card-releases {
        width: calc((100% - 10px) / 2);
    }

    .movie-category .card-trend:nth-child(3),
    .movie-category .card-releases:nth-child(3) {
        display: none;
    }

    .movie-category .card-must {
        width: calc((100% - 10px) / 2);
    }

    .card-body .duration-movie {
        font-size: 11px;
    }
}

@media screen and (max-width: 575px) {
    .movie-category .card {
        width: calc((100% - 10px) / 2);
    }

    .movie-category .card-top,
    .movie-category .card-must {
        width: calc((100% - 10px) / 2);
    }

}

@media screen and (max-width: 500px) {
    .card-must .card-body {
        justify-content: center !important;
        align-items: start !important;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 422px) {
    .card-body .duration-releases {
        font-size: 9px;
    }
}

@media screen and (max-width: 353px) {
    .card-trend .card-body {
        justify-content: center !important;
        align-items: start !important;
        flex-direction: column;
        gap: 5px;
    }

    .card-body .duration-releases {
        font-size: 7px;
    }
}

/* end media movies */

/* shows css */
.shows {
    padding: 50px 0px;
}

.shows .shows-title {
    top: 35px;
    background-color: #E50000;
    padding: 5px 10px;
    border-radius: 5px;
}

.shows .shows-border {
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 35px;
}

.shows-categories-pagination {
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
    border-radius: 7px;
    width: fit-content;
}

.shows-categories-pagination ul i {
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.show-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.show-category .card {
    width: calc((100% - 40px) / 5);
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.show-category .card-top,
.show-category .card-must,
.show-category .card-trend,
.show-category .card-releases {
    width: calc((100% - 40px) / 4);
}

.show-category .card img {
    border-radius: 10px;
}


.shows .card-body {
    color: #fff;
    cursor: pointer;
}

.shows .card-body-title span:first-child {
    font-size: 10px;
    background-color: #E50000;
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
}

.shows .card-body .duration-movie,
.shows .card-body .view-number,
.shows .card-body .duration-releases,
.shows .card-body .view-stars {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    padding: 2px 5px;
    color: #999999;
    font-size: 12px;
}

.shows .card-body .duration-releases {
    padding: 7px 10px;
}

/* start media shows */

@media screen and (max-width: 1199px) {
    .show-category .card-must {
        width: calc((100% - 20px) / 3);
    }

    .show-category .card-must:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #horror {
        display: none;
    }

    .show-category .card {
        width: calc((100% - 30px) / 4);
    }

    .show-category .card-trend,
    .show-category .card-releases {
        width: calc((100% - 20px) / 3);
    }

    .show-category .card-trend:nth-child(4),
    .show-category .card-releases:nth-child(4) {
        display: none;
    }

    .show-category .card-must {
        width: calc((100% - 10px) / 2);
    }

    .show-category .card-must:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #drama {
        display: none;
    }

    .show-category .card {
        width: calc((100% - 20px) / 3);
    }

    .show-category .card-top,
    .show-category .card-must {
        width: calc((100% - 20px) / 3);
    }

    .show-category .card-trend,
    .show-category .card-releases {
        width: calc((100% - 10px) / 2);
    }

    .show-category .card-trend:nth-child(3),
    .show-category .card-releases:nth-child(3) {
        display: none;
    }

    .show-category .card-must {
        width: calc((100% - 10px) / 2);
    }

    .shows .card-body .duration-movie {
        font-size: 11px;
    }
}

@media screen and (max-width: 575px) {
    .show-category .card {
        width: calc((100% - 10px) / 2);
    }

    .show-category .card-top,
    .show-category .card-must {
        width: calc((100% - 10px) / 2);
    }

}


/* end media shows */

/* movies-shows */

.movies-shows .movies-shows-btn {
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 10px 15px;
}

.movies-shows .movies-shows-btn .active {
    background-color: #1F1F1F;
    padding: 10px 30px;
    border-radius: 6px;
}

.movies-shows .movies-shows-btn .active a {
    color: #fff;
}

.movies-shows .movies-shows-btn a {
    color: #999999;
}

.movies-shows .card-body {
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 443px) {
    .name-star {
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
    }
}

/* movies-start-plan css */
.movies-start-plan {
    padding: 50px 20px;
}

.start-plan-background {
    background-image: url(./../img/start_plan/movies.png);
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
}

.start-plan-item {
    margin-left: 49.5px;
    width: 1197px;
    height: 100%;
    background: linear-gradient(90deg, rgba(15, 15, 15, 1) 2%, rgba(20, 15, 15, 0.959) 16%, rgba(34, 14, 14, 0.884) 28%, rgba(229, 0, 0, 0.413) 100%);
}

.start-plan-btn a {
    color: #fff;
    font-size: 13px;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #E50000;
}

/* start media movies-start-plan */
@media screen and (max-width: 1399px) {
    .start-plan-item {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {
    .start-plan-btn {
        display: flex;
        justify-content: center;
        width: fit-content;
    }
}

@media screen and (max-width: 991px) {
    .start-plan-item .row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* end media movies-start-plan */

/* footer css */
.footer {
    background-color: #0F0F0F;
    padding: 60px 0;
}

.footer .row::after {
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #99999927;
    margin: 50px 0 20px 0;
}

.footer-item h2,
.footer-social h2 {
    color: #fff;
}

.footer-item a {
    color: #999999;
}

.footer-social a {
    background-color: #1A1A1A;
    padding: 4px 6px 6px 6px;
    border-radius: 5px;
    border: 1px solid #262626;
}

.footer-conclusion-start,
.footer-conclusion-end a {
    color: #999999;
}

.footer-conclusion-end a:nth-child(1),
.footer-conclusion-end a:nth-child(2) {
    border-right: 1px solid #99999927;
    padding-right: 8px;
}

.footer-conclusion-end .separator {
    width: 1px;
    height: 100%;
    background-color: #999999;
}

/* start media footer */
@media screen and (max-width: 575px) {
    .footer .row::after {
        width: 95%;
        margin: 50px auto 20px auto;
    }

    .footer-conclusion {
        justify-content: stretch;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-conclusion nav {
        justify-content: center;
    }
}

/* end media footer */