body {
    background-color: #141414;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    background-color: #1A1A1A;
    border-radius: 5px;
}

.navbar-expand-lg .navbar-nav {
    background-color: #0F0F0F;
    padding: 10px 15px 10px 10px;
    border: 3px solid #1A1A1A;
    border-radius: 6px;
}

.search-notifications img {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .search-notifications img {
        display: none;
    }
}

.header {
    background-image: url(./../img/header/movies.png);
    background-size: 100% 75%;
    background-repeat: no-repeat;
}

.header-logo {
    width: calc(20% - 1%);
}

.header-logo img {
    height: 100%;
}

.header-background {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.699) 0%, #141414d0 100%);
}

.header-description h1 {
    color: #fff;
}

.header-description p {
    color: #999999;
    font-size: 13px;
}

.start-watching .start-watching-btn {
    background-color: #E50000;
}

.start-watching a {
    color: #fff;
    font-size: 13px;
}

@media screen and (max-width: 575px) {
    .header-logo img {
        display: none;
    }
}

.movies-categories {
    height: 500px;
}

.movies-categories p {
    color: #999999;
}

.movie-category {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-category .card {
    width: calc((100% - 10px) / 5);
}

.movies-description-pagination {
    color: #fff;
}

.movies-categories-pagination {
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
    border-radius: 7px;
    width: fit-content;
}

.movies-categories-pagination ul i {
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.list-active {
    background-color: #E50000;
    width: 15px;
}

.list-non-active {
    background-color: #333333;
    width: 10px;
}

.list-active,
.list-non-active {
    height: 3px;
    border-radius: 1px;
}

.movie-category .card {
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.action-images img,
.adventure-images img,
.comedy-images img,
.drama-images img,
.horror-images img {
    border-radius: 10px;
}

.images-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.032) 0%, #1414148d 100%);
    left: 0;
}

.card-body {
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    #horror {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 4);
    }
}

@media screen and (max-width: 767px) {
    #drama {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 3);
    }
}

@media screen and (max-width: 575px) {
    .movies-categories-pagination {
        display: none !important;
    }

    .movies-categories-description {
        text-align: center;
    }

    .movies-categories-pagination-end {
        display: flex !important;
    }
}

@media screen and (max-width: 480px) {
    #comedy {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 2);
    }

}

.viewing-platforms {
    color: #fff;
    padding: 50px 0;
}

.viewing-platforms p {
    color: #999999;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0;
}

.platforms-item {
    width: calc((100% - 20px) / 3);
    background-color: #0F0F0F;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #262626;
    background: linear-gradient(225deg, rgba(229, 0, 0, 0.105) 0%, rgba(229, 0, 0, 0) 30%);
}

.paltform-name img {
    background-color: #141414;
    border: 1px solid #1F1F1F;
    padding: 9px 18px;
    border-radius: 5px;
}

@media screen and (max-width: 991px) {
    .platforms-item {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 767px) {
    .platforms-item {
        width: 100%;
    }
}


.questions {
    color: #fff;
}

.questions p {
    color: #999999;
}

.questions .ask-question-btn {
    background-color: #E50000;
    width: fit-content;
}

.questions .ask-question-btn a {
    color: #fff;
    font-size: 13px;
}

.question span {
    background-color: #1F1F1F;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 10px 12px;
}

.question i {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .questions-place {
        flex-wrap: wrap;
    }

    .questions-item {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .questions .ask-question-btn {
        margin-left: 12px;
    }
}

.movies-watching-plans {
    color: #fff;
    padding: 50px 0;
}

.movies-watching-plans p {
    color: #999999;
}

.Choose-plan-duration {
    width: fit-content;
    background: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 7px 14px;
}

.Choose-plan-duration li {
    cursor: pointer;
}

.Choose-plan-duration .active {
    background-color: #1F1F1F;
    padding: 10px 12px;
    border-radius: 5px;
}


.plan-type {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.plan-item {
    width: calc((100% - 30px) / 3);
    padding: 30px 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.plan-item .price {
    font-size: 25px;
    font-weight: 600;
}

.plan-item .duration {
    font-size: 13px;
    font-weight: 100;
    color: #999999;
}

.start-plan {
    padding: 10px 0 0 0;
}

.start-plan a {
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 13px;
}

.start-plan a:nth-child(1) {
    background-color: #141414;
    border: 1px solid #262626;
}

.start-plan a:nth-child(2) {
    background-color: #E50000;
}

@media screen and (max-width: 1199px) {
    .start-plan a {
        padding: 12px 20px;
    }
}

@media screen and (max-width: 991px) {
    .plan-item {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .Choose-plan-duration {
        margin-left: 12px;
    }
}

.movies-start-plan {
    padding: 50px 20px;
    color: #fff;
}

.start-plan-background {
    background-image: url(./../img/start_plan/movies.png);
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;

}

.start-plan-item {
    margin-left: 49.5px;
    width: 1197px;
    height: 100%;
    background: linear-gradient(90deg, rgba(15, 15, 15, 1) 2%, rgba(20, 15, 15, 0.959) 16%, rgba(34, 14, 14, 0.884) 28%, rgba(229, 0, 0, 0.413) 100%);
}

.start-plan-btn {
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #E50000;
}

.start-plan-btn a {
    color: #fff;
    font-size: 13px;
}

@media screen and (max-width: 1399px) {
    .start-plan-item {
        margin-left: 0px;
        width: 100%;
    }

}

@media screen and (max-width: 1199px) {
    .start-plan-btn {
        display: flex;
        justify-content: center;
        width: fit-content;
    }
}

@media screen and (max-width: 991px) {
 .start-plan-item .row{
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
}

.footer {
    background-color: #0F0F0F;
    padding: 60px 0;
}

.footer .row::after {
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #99999927;
    margin: 50px 0 20px 0;
}

.footer-item h2 {
    color: #fff;
}

.footer-item a {
    color: #999999;
}

.footer-social h2 {
    color: #fff;
}

.footer-social a {
    background-color: #1A1A1A;
    padding: 4px 6px 6px 6px;
    border-radius: 5px;
    border: 1px solid #262626;
}

.conclusion-start,
.conclusion-end a {
    color: #999999;
}

.conclusion-end a:nth-child(1),
.conclusion-end a:nth-child(2) {
    border-right: 1px solid #99999927;
    padding-right: 8px;
}

.conclusion-end .separator {
    width: 1px;
    height: 100%;
    background-color: #999999;
}

@media screen and (max-width: 575px) {
    .conclusion {
        justify-content: stretch;
        flex-direction: column;
        gap: 10px;
    }

    .footer .row::after {
        width: 95%;
        margin: 50px auto 20px auto;
    }
}