body {
    background-color: #141414;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    background-color: #1A1A1A;
    border-radius: 5px;
}

.navbar-expand-lg .navbar-nav {
    background-color: #0F0F0F;
    padding: 10px 15px 10px 10px;
    border: 3px solid #1A1A1A;
    border-radius: 6px;
}

.search-notifications img {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .search-notifications img {
        display: none;
    }
}

.header {
    background-image: url(./../img/header/movies.png);
    background-size: 100% 75%;;
    background-repeat: no-repeat;
   
}

.header-logo {
    width: calc(20% - 1%);
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-background {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.699) 0%, #141414d0 100%);
    height: 100vh;
}


.header-description h1 {
    color: #fff;
}

.header-description p {
    color: #999999;
    font-size: 13px;
}

.start-watching .start-watching-btn {
    background-color: #E50000;

}

.start-watching a {
    color: #fff;
    font-size: 13px;
}

@media screen and (max-width: 575px) {
    .header-logo img{
        display: none;
    }
}

.footer {
    background-color: #0F0F0F;
    padding: 60px 0;
}

.footer .row::after {
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #99999927;
    margin: 50px 0 20px 0;
}

.footer-item h2 {
    color: #fff;
}

.footer-item a {
    color: #999999;
}

.footer-social h2 {
    color: #fff;
}

.footer-social a {
    background-color: #1A1A1A;
    padding: 4px 6px 6px 6px;
    border-radius: 5px;
    border: 1px solid #262626;
}

.conclusion-start,
.conclusion-end a {
    color: #999999;
}

.conclusion-end a:nth-child(1),
.conclusion-end a:nth-child(2) {
    border-right: 1px solid #99999927;
    padding-right: 8px;
}

.conclusion-end .separator {
    width: 1px;
    height: 100%;
    background-color: #999999;
}


@media screen and (max-width: 575px) {
    .conclusion {
        justify-content: stretch;
        flex-direction: column;
        gap: 10px;
    }

    .footer .row::after {
        width: 95%;
        margin: 50px auto 20px auto;
    }
}