@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    background-color: #141414;
}

a {
    text-decoration: none;
}

section,
header,
footer {
    font-family: var(--main-font);
}

section,
h1 {
    color: #fff;
}

section p {
    color: #999999;
}


:root {
    --main-font: 'manrope';
}

/* header css */
.header {
    background-image: url(./../img/header/movies.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 900px;
}

.header-background {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.699) 0%, #141414d0 100%);
    height: 100%;
}

.header-logo {
    width: 24%;
    margin-top: 100px;
}

.header-description {
    margin-top: 48px;
}

.header-description p {
    color: #999999;
    font-size: 13px;
}

.header-start-watching .start-watching-btn {
    background-color: #E50000;
}

.header-start-watching a {
    color: #fff;
    font-size: 13px;
}

/* start media header */
@media screen and (max-width: 1199px) {
    .header-logo {
        margin-top: 260px;
    }
}

/* end media header */

/* navbar css */
.navbar-expand-lg .navbar-nav {
    background-color: #0F0F0F;
    padding: 10px 15px 10px 10px;
    border: 3px solid #1A1A1A;
    border-radius: 6px;
}

.navbar-nav .nav-link.active {
    background-color: #1A1A1A;
    border-radius: 5px;
}

.navbar-search-notifications img {
    cursor: pointer;
}

/* start media navbar */
@media screen and (max-width: 991px) {
    .navbar-search-notifications img {
        display: none;
    }

    .navbar-nav .nav-link.active {
        background-color: transparent;
    }
}

/* end media navbar */

/* movies-categories css */
.movies-categories {
    height: 500px;
    font-family: var(--main-font);
}


.movies-categories-pagination {
    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
    border-radius: 7px;
    width: fit-content;
}

.movies-categories-pagination ul i {
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    padding: 8px;
    border-radius: 5px;
}

.list-active {
    background-color: #E50000;
    width: 15px;
}

.list-non-active {
    background-color: #333333;
    width: 10px;
}

.list-active,
.list-non-active {
    height: 3px;
    border-radius: 1px;
}

.movie-category {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-category .card {
    width: calc((100% - 10px) / 5);
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.movie-category img {
    border-radius: 10px;
    height: 118px;
}

.images-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.032) 0%, #1414148d 100%);
    left: 0;
}

.card-body {
    color: #fff;
    cursor: pointer;
}

/* start media movies-categories */
@media screen and (max-width: 1399px) {
    .movie-category img {
        height: 99px;
    }
}

@media screen and (max-width: 1199px) {
    .movie-category img {
        height: 80px;
    }
}

@media screen and (max-width: 991px) {
    #horror {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 4);
    }

    .movie-category img {
        height: 73px;
    }
}

@media screen and (max-width: 767px) {
    #drama {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 3);
    }

    .movie-category img {
        height: 72px;
    }
}

@media screen and (max-width: 575px) {
     .movies-categories-pagination {
        display: none !important;
    }

    .movies-categories-description {
        text-align: center;
    }

    .movies-categories-pagination-end {
        display: flex !important;
    }
    .movie-category img {
        height: 73px;
    }
    .movies-categories-pagination-end .prev,
    .movies-categories-pagination-end .next {
        background-color:#1A1A1A ;
        border: #1F1F1F;
        padding: 10px 15px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 480px) {
    #comedy {
        display: none;
    }

    .movie-category .card {
        width: calc((100% - 10px) / 2);
    }
    .movie-category img {
        height: 75px;
    }
}

/* end media movies-categories */

/* viewing-platforms css */
.viewing-platforms {
    padding: 50px 0;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0;
}

.platforms-item {
    width: calc((100% - 20px) / 3);
    background-color: #0F0F0F;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #262626;
    background: linear-gradient(225deg, rgba(229, 0, 0, 0.105) 0%, rgba(229, 0, 0, 0) 30%);
}

.paltform-name img {
    background-color: #141414;
    border: 1px solid #1F1F1F;
    padding: 9px 18px;
    border-radius: 5px;
}

/* start media viewing-platforms */
@media screen and (max-width: 991px) {
    .platforms-item {
        width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 767px) {
    .platforms-item {
        width: 100%;
    }
}

/* end media viewing-platforms */

/* questions css */
.questions .ask-question-btn {
    width: fit-content;
}

.questions .question-btn {
    background-color: #E50000;
    color: #fff;
    font-size: 13px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.modal {
    color: #fff;
}

.modal-content {
    background-color: #0F0F0F;
}

.modal-header {
    border-bottom: 0px solid transparent;
}

.modal .btn-close {
    background-color: #E50000;
    opacity: 1;
}

.modal .modal-body {
    border-top: 1px solid #E50000;
}

.modal-body .form-control {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 5px;
    color: #fff;
}

.modal-body .form-control::placeholder{
color: #999999;
}

.modal-body button{
    background-color: #E50000;
    color: #fff;
    font-size: 13px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.modal .modal-footer {
    border-top: 1px solid #E50000;
}

.modal .modal-footer button {
    background-color: #E50000;
    border-radius: 5px;
    padding: 7px 10px;
    color: #fff;
}


.question-after::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgba(229, 0, 0, 1) 17%, rgba(229, 0, 0, 0) 100%);
    bottom: 10%;
}

.question span {
    background-color: #1F1F1F;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 10px 12px;
}

.question i {
    cursor: pointer;
}

/* start media questions */
@media screen and (max-width: 991px) {
    .questions-place {
        flex-wrap: wrap;
    }

    .questions-item {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .questions .ask-question-btn {
        margin-left: 12px;
    }
}

/* end media questions */

/* movies-watching-plans css */
.movies-watching-plans {
    padding: 50px 0;
}

.choose-plan-duration {
    width: fit-content;
    background: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 7px 14px;
}

.choose-plan-duration li {
    cursor: pointer;
}

.choose-plan-duration .active {
    background-color: #1F1F1F;
    padding: 10px 12px;
    border-radius: 5px;
}

.plan-type {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.plan-item {
    width: calc((100% - 30px) / 3);
    padding: 30px 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    border: 1px solid #262626;
}

.plan-item .price {
    font-size: 25px;
    font-weight: 600;
}

.plan-item .duration {
    font-size: 13px;
    font-weight: 100;
    color: #999999;
}

.start-plan {
    padding: 10px 0 0 0;
}

.start-plan a {
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 13px;
}

.start-plan a:nth-child(1) {
    background-color: #141414;
    border: 1px solid #262626;
}

.start-plan a:nth-child(2) {
    background-color: #E50000;
}

/* start media movies-watching-plans */
@media screen and (max-width: 1199px) {
    .start-plan a {
        padding: 12px 18px;
    }
}

@media screen and (max-width: 991px) {
    .plan-item {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .choose-plan-duration {
        margin-left: 12px;
    }
}

/* end media movies-watching-plans */

/* movies-start-plan css */
.movies-start-plan {
    padding: 50px 20px;
}

.start-plan-background {
    background-image: url(./../img/start_plan/movies.png);
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
}

.start-plan-item {
    margin-left: 49.5px;
    width: 1197px;
    height: 100%;
    background: linear-gradient(90deg, rgba(15, 15, 15, 1) 2%, rgba(20, 15, 15, 0.959) 16%, rgba(34, 14, 14, 0.884) 28%, rgba(229, 0, 0, 0.413) 100%);
}

.start-plan-btn a {
    color: #fff;
    font-size: 13px;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #E50000;
}

/* start media movies-start-plan */
@media screen and (max-width: 1399px) {
    .start-plan-item {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {
    .start-plan-btn {
        display: flex;
        justify-content: center;
        width: fit-content;
    }
}

@media screen and (max-width: 991px) {
    .start-plan-item .row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* end media movies-start-plan */

/* footer css */
.footer {
    background-color: #0F0F0F;
    padding: 60px 0;
}

.footer .row::after {
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #99999927;
    margin: 50px 0 20px 0;
}

.footer-item h2,
.footer-social h2 {
    color: #fff;
}

.footer-item a {
    color: #999999;
}

.footer-social a {
    background-color: #1A1A1A;
    padding: 4px 6px 6px 6px;
    border-radius: 5px;
    border: 1px solid #262626;
}

.footer-conclusion-start,
.footer-conclusion-end a {
    color: #999999;
}

.footer-conclusion-end a:nth-child(1),
.footer-conclusion-end a:nth-child(2) {
    border-right: 1px solid #99999927;
    padding-right: 8px;
}

.footer-conclusion-end .separator {
    width: 1px;
    height: 100%;
    background-color: #999999;
}

/* start media footer */
@media screen and (max-width: 575px) {
    .footer .row::after {
        width: 95%;
        margin: 50px auto 20px auto;
    }

    .footer-conclusion {
        justify-content: stretch;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-conclusion nav {
        justify-content: center;
    }
}

/* end media footer */